<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/habitPost.css">
    <title></title>
</head>
<body>
    <h1 id = "text">Welcome to Habit</h1>

    <form action="/habit" method="post">

    <div class = "name-container">
      <label for="name" id = "name">Name:</label>
      <input type="text" name="name" id="nameInput" required/> <br>
    </div>

    <div class = "description-container">
      <label for="body" id = "body">Description:</label>
      <textarea name="description" id="descriptionInput"  rows="5" cols="40" required></textarea><br>
    </div>

      <button type="submit" id="submit-btn">Post</button>

    </form>
    
</body>
</html>