h1{
    text-align: center;
    font-size: 40px;
}

.profile-conatiner{
    justify-self: center;
    text-align: center;
    border: solid 1px black;
    width: 600px;
    border-radius: 10px;
}

.profile-conatiner h2{
    border-bottom: solid 1px black;
    padding: 10px;
}

.profile-conatiner p {
    font-size: 40px;
}

form{
    margin-top: 20px;
    justify-self: center;
}

form button{
    font-size: 30px;
    color: white;
    background-color: #007bff;
    padding: 10px;
    cursor: pointer;
    border: none;
}